log:
  dir: "logs"
  rotation: "1 day"
  retention: "30 days"
  level: "DEBUG"

data:
  remote_dir: "level2/"
  local_raw: "dataloader/raw/"
  parquet_root: "dataloader/parquet/"
  symbols: ['603322','002594','300456','300475','300115','300395','001287','688195','300058','688110','688183','001400','300308']


model:
  train_days: 120
  valid_days: 20
  test_days: 20
  model_path: "models/"

pipeline:
  enable_download: true
  enable_decompress: true
  enable_parse: true
  enable_write: true
